/* Add CSS styles here! */
body {
    font-family: sans-serif;
    background: #111112;
    color: white;
    background-image: url(assets/SBW4.png);
    background-size: 20%;
}

@font-face {
    font-family: Pixel1;
    src: url(assets/PixeloidSans.ttf);
}


@font-face {
    font-family: Pixel2;
    src: url(assets/PublicPixel.ttf);
}
